# **Intro to Python for Data Analysis**
## Chapter 1: Python Basics - Solutions to Exercises
---
**Author:** Juan Martin Bellido  

**About**  
This notebooks includes solutions to exercises on Chapter 1.

**Feedback?** Please share on [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)

# Chapter 1: Ejercicios
---

### Exercise #1

Below there is a list containing food names. Iterate with that list so that for each element on it you print the following text:  

> I love pizza  
I love sushi  
I love paella  
I love tapas

> ðŸ‘‰ You can concatenate text by simply using the operator `+`

In [1]:
# example of concatenating text
my_name = 'Martin'
print('My name is ' + my_name)

My name is Martin

In [2]:
# use the following list to iterate
food_list = ['pizza','sushi','paella','tapas']

In [3]:
# exercise resolution using a for loop
for f in food_list:
  print('I love ' + f)

I love pizza
I love sushi
I love paella
I love tapas

In [4]:
# exercise resolution using comprehension lists
[print('I love ' + f) for f in food_list]

I love pizza
I love sushi
I love paella
I love tapas

[None, None, None, None]

### Exercise #2

Next, we find a different list with food names. Repeat exercise #1, this time avoid displaying "onions" and "garlic" (without editing the list).

In [5]:
food_list = ['pizza','sushi','onion','paella','garlic','tapas']

In [6]:
# resolution #1
for f in food_list:
  if f not in ['onion','garlic']:
    print('I love ' + f)

I love pizza
I love sushi
I love paella
I love tapas

In [7]:
# resolution #2
for f in food_list:
  if not f == 'onion' and not f == 'garlic':
    print('I love ' + f)

I love pizza
I love sushi
I love paella
I love tapas