# **Intro to Python for Data Analysis**
## Chapter 1: Python Basics
---
**Author:** Juan Martin Bellido  

**About**  
On this first notebook we explore the most elemental operations we need to learn first on Python before moving on to its use on Data Analysis.

All sintaxis covered on this first chapter is available to Python natively (i.e. not using external libraries yet).

**Feedback?** Please share on [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)


## Table of Contents
---
1. Objects in Python
2. Data structures
3. Functions vs. methods
4. Operators
5. Programming basics
6. Exercises

Conventions used in this document

> 👉 *This is note*

> ⚠️ *This is a warning*

# 1. Objects in Python
---

### Comment code

We use `#` to create an annotation; all characters after it on the same coding line will be commented out.

In [2]:
# code annotation
1 + 1 # this is also a comment

2

### Declare an object

Python is an *object-oriented* language. This means we can declare variables (objects) to store data temporarily in our environment to invoke later as needed.

> 👉 *Objects declared will only get lost when explicitly deleting them or when restarting our environment*  


To declare a new object, we use the following syntaxis

```
new_object = x
```

In [3]:
# what comes next is a simple example of defining a new object ("name") and then invoking it
name = "Martin" # we define a new object (name) and store a text input ("Martin")
print("Hi " + name) # we use the function print() and combine a text input with the object "name"

Hi Martin

In [4]:
# we can simply invoke an object by its name
name

'Martin'

### Get objects declared on environment

A small drawback of running code on a Notebook environment (vs an IDE) is the fact that it does not include an option to visualize all objects declared.

In [5]:
# we can use a Notebook function, called "magic commands" to ask for this info
%who # this is NOT Python, is a function relative to the environment

No variables match your requested type.

### Delete an object

In [6]:
# we use the command del followed by the name of the object
del name


We can delete multiple objects using the following syntaxis
```
del obj_1, obj_2, obj_3
```

### Object types

There are three elementary object types recognized in Python,

Python includes many type of objects natively. For our purpose, we will consider only the following four:

*  *Numeric integers*
*  *Numeric w/decimals (float)*
*  *Text (string)*
*  *Logic (True/ False)*

> 👉 *There are more object types, but rarely used in Data Analysis*

In [7]:
# let's create a first numeric (integer) object
numeric_obj = 2
type(numeric_obj) # we use the type() function to check object type

int

In [8]:
# let us now overwrite the object with a new input
numeric_obj = 1.2 # important: note that here we are overwriting the object with a new input
type(numeric_obj) # we check again the type(), in this case it contains decimals, therefore it's a float

float

In [9]:
# next, we define a new object type string (text)
string_obj = "Python"
type(string_obj)

str

In [10]:
# finally, we create an object type boolean (True or False)
bool_obj = True
type(bool_obj)

bool

# 2. Data structures
---
Data in Python can be stored in many different formats, each of them with unique characteristics and treatment.

There are *four* data structures included in Python natively:
*   *Lists*
*   *Dictionaries*
*   *Tuples*
*   *Sets*

> 👉 Besides those included as part of Python's original functionalities, there are additional data structures that are incorporated though libraries

> 👉  The most important data structure for Data Analysis are DataFrames (data tables), which were incorporated by the *Pandas* library

### Lists

*Lists* are essentially vectors. Each element (piece of data) stored in a list is *indexed*; this means that elements stored have a specific and unique position within the structure.   

To create a list, we use the following syntax

```
my_list = [x,y,z ... n]
```

In [11]:
# we create our first list
my_list = [1,"a",3,False,5] # we define a new object that contains a list
my_list # we invoke our new object

[1, 'a', 3, False, 5]

In [12]:
# note: lists may contain lists as elements
my_list_v2 = [100,"one hundred",my_list] # we create a new list, which holds the first list as one of the elements stored
my_list_v2 # we invoke the object

[100, 'one hundred', [1, 'a', 3, False, 5]]

In [13]:
# the most important thing about lists is that elements stored are indexed
## as result, we are able to invoke specific elements stored
## note: python is 0 indexed; this means that the element "0" is always the first one 
my_list_v2[0] # we invoke the first element stored in list

100

In [14]:
# now we will overwrite one (only one) specific element
my_list_v2[0] = 101 # we overwrite (replace) the first element (element 0) in vector wit a new number
my_list_v2 # we invoke the object

[101, 'one hundred', [1, 'a', 3, False, 5]]

### Dictionaries

*Dictionaries* are structures that stored data under a *key-pair* logic. Similar to a JSON file (unstructured storage), elements stored are **not** indexed (do not have a fix position) and can be invoked using their *key* values. *Key* values are always unique.

To create a new dictionary we use the following syntax

```
my_dic = {
  key_1:value_1,
  key_2:value_2,
  key_3:value_3,
  ...
  }
```

In [15]:
# let us create our first dictionary
my_dic = {
  "school": "ISDI",                     # this line is a "key-pair" element
  "course": "Python 101",               # this is a second "key-pair" element
  "year": 2021,
  "this is a hands-on course": True,
  "assistants":["Maria","Juan","Jose"], # note that this "pair" is actually a list
  "lecturer":"Martin"
}

my_dic # we invoke the dictionary and verify that elements are not ordered in the same way we defined them

{'school': 'ISDI',
 'course': 'Python 101',
 'year': 2021,
 'this is a hands-on course': True,
 'assistants': ['Maria', 'Juan', 'Jose'],
 'lecturer': 'Martin'}

In [16]:
# we now invoke one specific element "pair" by parsing its unique "key"
my_dic["course"]

'Python 101'

In [17]:
# we now replace one element ("pair") in the dictionary using (again) its "key" value
my_dic["assistants"] = ["Maria","Juan","Jose","Pepe"] # we are replacing the "pair" value of "key" "assistants"
my_dic

{'school': 'ISDI',
 'course': 'Python 101',
 'year': 2021,
 'this is a hands-on course': True,
 'assistants': ['Maria', 'Juan', 'Jose', 'Pepe'],
 'lecturer': 'Martin'}

### Tuples

*Tuples* are unidimensional structures similar to lists, but *unmutable*; this means that elements in a tuple cannot be overwritten.

```
my_tupple = (x,y,z ... n)
```

In [18]:
# we create and invoke a tupple
my_tupple = (2,1,"c","a")
my_tupple

(2, 1, 'c', 'a')

In [19]:
# tuples are indexed, therefore we can select elements based on its position within the structure
my_tupple[1]

1

In [20]:
# as mentioned, tuples are unmutable
## we cannot overwrite (replace) elements
my_tupple[1] = 3 # this will generate an execution error

TypeError: ignored

### Sets

*Sets* are structures similar to lists and tuples, but,
*   *sets do not allow duplicated values*;
*   *elements are not indexed*.

To define a set we use the following syntax,

```
my_set = {x,y,z ... n}
```

In [21]:
my_set = {1,10,10,10,0,5,'b','c','a','a'} # we deklare a set
my_set  # we invoke our set

{0, 1, 10, 5, 'a', 'b', 'c'}

In [22]:
# we confirm that sets don't allow indexation
my_set[2] # this will give error

TypeError: ignored

# 3. Functions vs methods
---

There is a distinction in Python between *functions* (which generally work on any type of object) and *methods*, which are specific to a type of data structure.

In [23]:
my_list = ['Madrid','Milan','Dubai','Barcelona']

In [24]:
# this is an example of a function
type(my_list)

list

In [25]:
# this is an example of a method that only works on lists
my_list.append('London')
my_list # we invoke the list

['Madrid', 'Milan', 'Dubai', 'Barcelona', 'London']

# 4. Operators
---
In programming, *operators* are symbols that perform specific mathematical, relational or logical operations. 

*   *Arithmetic Operators*: perform mathematical operations
*   *Comparison Operators*: contrast objects and compare values, resulting in a boolean object (true/false)
*   *Logic Operators*: used for performing logic tests, producing a boolean object (true/false)

### Arithmetic operators



| Operator 	|   Description  	|
|----------	|:--------------:	|
| +        	| addition       	|
| -        	| subtraction    	|
| *        	| multiplication 	|
| /        	| division       	|
| **  	| exponentiation 	|

In [26]:
# arithmetic operators
## we define two numeric objects
obj_1 = 10
obj_2 = 5

In [27]:
# test 1
obj_1/obj_2

2.0

In [28]:
# test 2
obj_1-obj_2

5

### Comparison operators


| Operator  	|        Description       	|
|-----------	|:------------------------:	|
| <         	| less than                	|
| <=        	| less than or equal to    	|
| >         	| greater than             	|
| >=        	| greater than or equal to 	|
| ==        	| exactly equal to         	|
| !=        	| not equal to             	|

In [29]:
# comparison objects
## we define two numeric objects
obj_1 = 10
obj_2 = 5

In [30]:
# test 1
## check if object 1 is greater than 8
obj_1 > 8

True

In [31]:
# test 2
## check if object 1 is equal to object 2
obj_1 == obj_2

False

### Logic operators


| Operator  	|        Description       	|
|-----------	|:------------------------:	|
| x and y    	| se cumplen condiciones X e Y                    	|
| x or y    	| se cumple  condiciones X o Y                   	|
| not x     	| negamos la condición X   	|

In [32]:
## we define two numeric objects
obj_1 = 10
obj_2 = 5

In [33]:
# test 1
## test if at least one of the two conditions are fulfilled
obj_1 > 8 or obj_2 > 8 # this reads: "objet 1 is greater than 8 OR object 2 is greater than 8"

True

In [34]:
# test 2
## test if both conditions are met simultaneously
obj_1 > 8 and obj_2 > 8 # this reads: "objet 1 is greater than 8 AND object 2 is greater than 8"

False

In [35]:
# test 3
## negate a conditioon
not obj_1 > 8 # this reads: "objet 1 is NOT greater than 8"

False

### IN operator

In [36]:
# we build a list
city_list = ['Madrid','Barcelona','Paris','Buenos Aires']

In [37]:
# does the object include the value 'Madrid'?
'Madrid' in city_list

True

In [38]:
# does the object include the value 'New York'?
'New York' in city_list

False

# 5. Programming basics
---
There are certain functionalities available across all programming languages.

### Conditional expressions

A *conditional expression* performs a series of logic tests with pre-defined responses. They compose of at least one condition, but they could hold as many as needed.

Basic syntaxis,
```
if (condition):
  response if condition is met
```

Expanded syntaxis,
```
if (condition):
  response if condition is met
elif (second conditioon):
  response if condition is met
...
else: 
  response if non of previous conditions are met
```

Note that in case of having multiple conditions, those will be tested in order; i.e. first condition met will trigger the response.

In [39]:
# let us create an IF condition that checks if an object is positive (greater than 0)
obj = 10 # create an object

if obj > 0:                         # condition 1: test if object is positive
  print("number is positive")       # print() displays text as output

## note that we have not established a response if condition is not met

number is positive

In [40]:
# let us now expand the previous expression to also test if number is 0 or negative
obj = -10 # overwriting the object with a new number

if obj > 0:                         # condition 1: test if object is positive
  print("number is positive")    
elif obj == 0:                      # condition 2: test if object is 0
  print("number is 0")
else:                               # condition 3: test if rest of conditions are not met
  print("number is negative")

number is negative

### Iterations (loops)

In a loop, we establish a response that will repeat multiple times, based on a given criteria.

#### For loops
On a *for loop* the response will repeat as many times as the number of elements stored on a iterable data structure (usually lists).


```
vector = [x,y,z .. n]
for i in object:
  print(i)
```

In [41]:
my_list = ["a","b","c","d","e"] # we create a list
for x in my_list: # this reads: for each element (X) stored in object (list)
  print(x)

# this loop has 5 repetitions, as there are 5 elements stored in list
# x gets assigned value of each element on each repetition

a
b
c
d
e

#### While loop

Responses on *while loops* repeat as long as a condition keeps true; i.e. are not pre-established by the number of elements in a structure.

```
while (contition):
  response
```

> ⚠️ We need to be careful to avoid infinite (endless) loops. In that case we would be forced to restart the environment

In [42]:
my_object = 10                # we create an object
while my_object <= 25:        # we establish a condition
  print(my_object)            # printing current value of object on each repetition
  my_object = my_object + 1   # adding 1 to current object value

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25


#### Comprehension lists

*Comprehension lists* are simplified iterations that can be instrumented on a single coding line.

```
[expression(element) for element in list]
```

In [43]:
# the following loop multiples each element in the list by 2
my_list = [1,2,3,4,5]   # we build a list
[x*2 for x in my_list]  # this is the comprehension list

[2, 4, 6, 8, 10]

# 6. Exercises
---

> 👉 Solutions to exercises are available [here](https://nbviewer.org/github/SomosDataWizards/Python-Intro-Course/blob/main/Chapter_1_Exercises.ipynb)

### Exercise #1

Below there is a list containing food names. Iterate with that list so that for each element on it you print the following text:  

> I love pizza  
I love sushi  
I love paella  
I love tapas

> 👉 You can concatenate text by simply using the operator `+`

In [44]:
# example of concatenating text
my_name = 'Martin'
print('My name is ' + my_name)

My name is Martin

In [45]:
# use the following list to iterate
food_list = ['pizza','sushi','paella','tapas']

### Exercise #2

Next, we find a different list with food names. Repeat exercise #1, this time avoid displaying "onions" and "garlic" (without editing the list).

In [46]:
food_list = ['pizza','sushi','onion','paella','garlic','tapas']