# **Intro to Python for Data Analysis**
## Chapter 4: Data Cleaning - Solutions to Exercises
---
**Author:** Juan Martin Bellido  

**About**  
This notebooks includes solutions to exercises on Chapter 4.

**Feedback?** Please share on [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)

# Chapter 4: Exercises
---

### Exercise #1

A. Identify columns with null observations in DataFrame.  

B. Select only fields *movie_title, director_name, imdb_score*. Remove observations with null values on any of those fields.  

> Dataset https://data-wizards.s3.amazonaws.com/datasets/movies.csv

In [ ]:
import pandas as pd
df_movies = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
df_movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [ ]:
df_movies.isna().any()

color                         True
director_name                 True
num_critic_for_reviews        True
duration                      True
director_facebook_likes       True
actor_3_facebook_likes        True
actor_2_name                  True
actor_1_facebook_likes        True
gross                         True
genres                       False
actor_1_name                  True
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                  True
facenumber_in_poster          True
plot_keywords                 True
movie_imdb_link              False
num_user_for_reviews          True
language                      True
country                       True
content_rating                True
budget                        True
title_year                    True
actor_2_facebook_likes        True
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [ ]:
df = df_movies[['movie_title','director_name','imdb_score']]
df.isna().any()

movie_title      False
director_name     True
imdb_score       False
dtype: bool

In [ ]:
df = df[-df.director_name.isna()]
df.isna().any()

movie_title      False
director_name    False
imdb_score       False
dtype: bool

### Exercise #2

Identify companies that are outliers in terms of number of employees:  

A. Using normal distribution  
B. Using IQR  

> Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv

In [ ]:
import pandas as pd
from scipy import stats
df_fortune = pd.read_csv('https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv')
df_fortune.dtypes

Rank          int64
Company      object
Sector       object
Industry     object
Location     object
Revenue       int64
Profits       int64
Employees     int64
dtype: object

In [ ]:
# A
## we normalize variable
df_fortune["z_Employees"] = stats.zscore(df_fortune["Employees"],nan_policy='omit').round(2)
## filter, sort
cond = abs(df_fortune['z_Employees'])>3
df_fortune[cond][['Company','Employees','z_Employees']].sort_values("z_Employees",ascending=False)

                Company  Employees  z_Employees
0               Walmart    2300000        25.08
217          Yum Brands     505000         5.22
16               Kroger     431000         4.40
108          McDonald’s     420000         4.28
30                  IBM     411798         4.19
27           Home Depot     385000         3.89
37               Target     341000         3.41
47                  UPS     341240         3.41
10     General Electric     333000         3.32
3    Berkshire Hathaway     331000         3.30
57                FedEx     323035         3.21

In [ ]:
# B
## calculate IQR
IQR = df_fortune["Employees"].quantile(0.75) - df_fortune["Employees"].quantile(0.25)
## calculate sup and inf thresholds
sup_lim = IQR * 1.5 + df_fortune["Employees"].quantile(0.75)
inf_lim = df_fortune["Employees"].quantile(0.25) - IQR * 1.5
## filtering conditions
cond = df_fortune["Employees"] > sup_lim
cond_2 = df_fortune["Employees"] < inf_lim
## filter, select fields, sort
df_fortune[cond | cond_2][['Company','Employees']].sort_values("Employees",ascending=False)

                Company  Employees
0               Walmart    2300000
217          Yum Brands     505000
16               Kroger     431000
108          McDonald’s     420000
30                  IBM     411798
..                  ...        ...
239         Toys “R” Us      62000
35             Alphabet      61814
435  Jones Lang LaSalle      61500
13              Chevron      61500
119            Raytheon      61000

[120 rows x 2 columns]